---
import socials from "../data/socials.json";
---

<div class="contact-icons">
  <a href={`mailto:${socials.email}`} aria-label="Email" title="Email">
    <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6">
      <rect x="2" y="4" width="20" height="16" rx="2"></rect>
      <path d="m22 6-10 7L2 6"></path>
    </svg>
  </a>
  <a href={`https://github.com/${socials.githubUsername}`} target="_blank" rel="noopener noreferrer" aria-label="GitHub" title="GitHub">
    <svg width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor">
      <path
        d="M12 .5a12 12 0 0 0-3.79 23.39c.6.11.82-.26.82-.58v-2.02c-3.34.73-4.04-1.6-4.04-1.6-.55-1.4-1.34-1.76-1.34-1.76-1.1-.75.08-.74.08-.74 1.2.09 1.84 1.24 1.84 1.24 1.08 1.84 2.83 1.31 3.52 1 .11-.79.42-1.31.76-1.61-2.67-.3-5.47-1.33-5.47-5.93 0-1.31.47-2.38 1.24-3.22-.12-.3-.54-1.53.12-3.19 0 0 1.01-.32 3.3 1.23a11.5 11.5 0 0 1 6 0c2.29-1.55 3.3-1.23 3.3-1.23.66 1.66.24 2.89.12 3.19.77.84 1.23 1.91 1.23 3.22 0 4.61-2.8 5.63-5.48 5.92.43.37.81 1.1.81 2.22v3.29c0 .32.22.7.83.58A12 12 0 0 0 12 .5Z"
      ></path>
    </svg>
  </a>
</div>
